.number{
    text-align: center;
    font-weight: 800;
    font-size: 4rem;
    margin: 3em auto 0;
}
.error{
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    margin: 1.8em auto 0;
}